@media screen and (max-width: 600px) {
  img {
    width: 50px;
  }
}

@media (max-width: 991px) {
  .footer,
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  img {
    width: 175px;
  }
}