<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Блог</title>
  </head>
  <body>
    <div class="wrapper">
      <%= require('!html-loader!./partials/header.html').default %>
      <main class="main-blog-container">
        <ul>
          <article class="post">
            <header class="post__header">
              <h2>Способ обработки</h2>
            </header>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
              asperiores autem, dolore, doloremque dolorum enim expedita
              inventore ipsam modi molestiae odio pariatur quia quidem quo,
              soluta suscipit vero voluptas voluptatum. Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. A consectetur corporis dolores
              et eum id incidunt inventore labore, minima minus non obcaecati
              quam quas sapiente suscipit veniam voluptate voluptatem
              voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Ab asperiores autem, dolore, doloremque dolorum enim
              expedita inventore ipsam modi molestiae odio pariatur quia quidem
              quo, soluta suscipit vero voluptas voluptatum. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. A consectetur corporis
              dolores et eum id incidunt inventore labore, minima minus non
              obcaecati quam quas sapiente suscipit veniam voluptate voluptatem
              voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Ab asperiores autem, dolore, doloremque dolorum enim
              expedita inventore ipsam modi molestiae odio pariatur quia quidem
              quo, soluta suscipit vero voluptas voluptatum. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. A consectetur corporis
              dolores et eum id incidunt inventore labore, minima minus non
              obcaecati quam quas sapiente suscipit veniam voluptate voluptatem
              voluptatum.
            </p>
          </article>
          <br />
          <article class="post">
            <header class="post__header">
              <h2>Степень обжарки</h2>
            </header>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
              asperiores autem, dolore, doloremque dolorum enim expedita
              inventore ipsam modi molestiae odio pariatur quia quidem quo,
              soluta suscipit vero voluptas voluptatum. Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. A consectetur corporis dolores
              et eum id incidunt inventore labore, minima minus non obcaecati
              quam quas sapiente suscipit veniam voluptate voluptatem
              voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Ab asperiores autem, dolore, doloremque dolorum enim
              expedita inventore ipsam modi molestiae odio pariatur quia quidem
              quo, soluta suscipit vero voluptas voluptatum. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. A consectetur corporis
              dolores et eum id incidunt inventore labore, minima minus non
              obcaecati quam quas sapiente suscipit veniam voluptate voluptatem
              voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Ab asperiores autem, dolore, doloremque dolorum enim
              expedita inventore ipsam modi molestiae odio pariatur quia quidem
              quo, soluta suscipit vero voluptas voluptatum. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. A consectetur corporis
              dolores et eum id incidunt inventore labore, minima minus non
              obcaecati quam quas sapiente suscipit veniam voluptate voluptatem
              voluptatum.
            </p>
          </article>
        </ul>
      </main>
    </div>
    <%= require('!html-loader!./partials/footer.html').default %>
  </body>
</html>
